[user]
  name = Alberto Fernandez
  email = Albertofdzm@gmail.com
[push]
  default = current
[core]
  autocrlf = input
  trustctime = false
  editor = vim
  filemode = false
  excludesfile = ~/.gitignore_global
[help]
  autocorrect = 30
[credential]
  helper = osxkeychain
[diff]
  tool = default-difftool
[difftool "default-difftool"]
  cmd = code --wait --diff $LOCAL $REMOTE
[alias]
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  fl = log -u
  st = status -s
  ci = commit
  co = checkout
  br = branch
  diff = diff --word-diff
  tree = log --graph --oneline --decorate
  last = log -1 --stat
  cp = cherry-pick
  cl = clone
  unstage = reset HEAD --
  dc = diff --cached
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
  set-upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
[color]
  ui = true
[merge]
  tool = vimdiff
[mergetool]
  keeptemporaries = false
  keepbackups = false
  prompt = false
  trustexitcode = false
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[github]
  user = albertofdzm
[url "https://github"]
  insteadOf = git://github
